* {
    user-select: none;
}

p {
    color: white;
    font-family: 'Pretendard', sans-serif;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    line-height: 120%;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #10121f;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#item-box {
    background-color: #0003;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#item {
    text-align: center;
}

#time {
    display: flex;
    align-items: flex-end;
    text-shadow: 0 0 8px #0008;
}

#hm {
    font-size: 160px;
    margin: 0 16px 0 0;
    font-weight: 500;
}
#s {
    font-size: 80px;
    margin: 0;
    font-weight: 200;
}
#date {
    font-size: 30px;
    margin: 0;
    font-weight: 400;
}

.time {
    text-shadow: 0 0 10px #0008;
}