* {
    user-select: none;
}

p {
    color: white;
    font-family: 'Pretendard', sans-serif;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    line-height: 120%;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#item-box {
    background-color: #0003;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.blur-effect {
    backdrop-filter: blur(2px);
}

#search-box {
    position: relative;
    top: -40px;
}

#search-input {
    padding: 15px 20px;
    border: none;
    background-color: #ffffff77;
    backdrop-filter: blur(40px);
    font-size: 15px;
    width: 30vw;
    min-width: 300px;
    max-width: 450px;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 10px #0005;
    transition: background-color 0.3s ease;
}

#search-input::placeholder {
    color: #fff;
}

#search-input:hover {
    background-color: #ffffff99;
}

#search-input:focus {
    outline: none;
    background-color: #ffffff;
    box-shadow: none;
    color: #666;
}

#search-input:focus::placeholder {
    color: #666;
}

#item {
    text-align: center;
}

#time {
    display: flex;
    align-items: flex-end;
    text-shadow: 0 0 8px #0008;
}

#hm {
    font-size: 160px;
    margin: 0 16px 0 0;
    font-weight: 500;
}
#s {
    font-size: 80px;
    margin: 0;
    font-weight: 200;
}
#date {
    font-size: 30px;
    margin: 0;
    font-weight: 400;
}

.time {
    text-shadow: 0 0 5px #0006;
}